html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  zoom: .8;
}

html, body {
  background-color: rgb(239, 239, 239);
  line-height: 1.15;
  margin: 0;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Override */
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: unset !important;
} 